.expansion-container {
    border: #fbe35a;
}

.toolbar-btn {
    margin-left: 12px;
    margin-right: 12px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 12px; 
 
    mat-spinner.report-spinner {
    display: inline-flex;
    align-items: flex-end;
    margin-left: 8px;
    vertical-align: middle;
    stroke: #fbe35a !important; 
    }
  }
  .spacer {
    flex: 1 1 auto;
  }
  .favourite-bond-conteiner {
    margin-bottom: 15px;
  }

  .mat-mdc-progress-spinner { --mdc-circular-progress-active-indicator-color: #fbe35a; }